:root {
    --main-color: #7F3FFF;
    --text-color: #DFDFDF;
    --date-color: #7F7F7F;
    --background-color: #171717;
    --background-sub-color: #000000;
    --playlist-background-color: #1F1F1F;
    --playlist-playing-background-color: #2F2F2F;
    --playlist-playing-color: #FFFFDF;
    --playlist-hover-color: #9FBFDF;
    --playlist-hover-visited-color: #DFBFFF;
}
@media (prefers-color-scheme: light) {
    :root {
        --text-color: #000000;
        --date-color: #7F7F7F;
        --background-color: #FFFFFF;
        --background-sub-color: #FFFFFF;
        --playlist-background-color: #FFFFFF;
        --playlist-playing-background-color: #EFEFEF;
        --playlist-playing-color: #7F5F00;
        --playlist-hover-color: #1F5F7F;
        --playlist-hover-visited-color: #7F3F9F;
    }
    .invert-light {
        filter: invert(1);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #DFDFDF;
        --date-color: #7F7F7F;
        --background-color: #171717;
        --background-sub-color: #000000;
        --playlist-background-color: #1F1F1F;
        --playlist-playing-background-color: #2F2F2F;
        --playlist-playing-color: #FFFFDF;
        --playlist-hover-color: #9FBFDF;
        --playlist-hover-visited-color: #DFBFFF;
    }
    .invert-dark {
        filter: invert(1);
    }
}

* {
    font-weight: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

b {
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    background: var(--background-color);
}

nav {
    z-index: 100;
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
    text-indent: 20px;
    line-height: 50px;
    width: 100%;
    height: 50px;
    background: var(--background-sub-color);
    box-shadow: 0 0 0 1px rgb(63, 63, 63), 0 0 2px 2px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}

nav > #album {
    position: absolute;
    right: 20px;
}

nav > #search {
    height: 30px;
    width: 40%;
    max-width: 320px;
    padding-inline: 8px;
    background: var(--background-sub-color);
    border: 1px solid #7F7F7F;
    color: var(--text-color);
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 13px;
    font-weight: normal;
}

main {
    width: fit-content;
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 15px;
    white-space: nowrap;
}

#player {
    width: 854px;
    display: inline-block;
    vertical-align: top;
}

/* 480p */
#video {
    width: 100%;
    height: 480px;
    background: #000000;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
}

#video::cue(.white) {
    color: rgba(255,255,255,1);
}

#video::cue(.lime) {
    color: rgba(0,255,0,1);
}

#video::cue(.cyan) {
    color: rgba(0,255,255,1);
}

#video::cue(.red) {
    color: rgba(255,0,0,1);
}

#video::cue(.yellow) {
    color: rgba(255,255,0,1);
}

#video::cue(.magenta) {
    color: rgba(255,0,255,1);
}

#video::cue(.blue) {
    color: rgba(0,0,255,1);
}

#video::cue(.black) {
    color: rgba(0,0,0,1);
}

#video::cue(.bg_white) {
    background: rgba(255,255,255,1);
}

#video::cue(.bg_lime) {
    background: rgba(0,255,0,1);
}

#video::cue(.bg_cyan) {
    background: rgba(0,255,255,1);
}

#video::cue(.bg_red) {
    background: rgba(255,0,0,1);
}

#video::cue(.bg_yellow) {
    background: rgba(255,255,0,1);
}

#video::cue(.bg_magenta) {
    background: rgba(255,0,255,1);
}

#video::cue(.bg_blue) {
    background: rgba(0,0,255,1);
}

#video::cue(.bg_black) {
    background: rgba(0,0,0,1);
}

#mask {
    width: inherit;
    height: 480px;
    position: absolute;
    user-select: none;
    z-index: 1;
    display: none;
    container-type: inline-size;
}

#player > h1 {
    margin-top: 10px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow-x: clip;
}

#player > h2 {
    margin-top: 5px;
    color: var(--date-color);
    font-size: 90%;
    text-overflow: ellipsis;
    overflow-x: clip;
}

#player > p {
    margin-top: 10px;
    font-size: 80%;
    width: 100%;
    white-space: normal;
}

#player > details {
    margin-top: 10px;
    font-size: 80%;
    width: fit-content;
    transition: width 200ms;
    white-space: normal;
}

details > summary {
    cursor: pointer;
}

#playlist {
    font-size: 13px;
    display: inline-block;
    margin-left: 10px;
    width: 300px;
    height: 600px;
    background: var(--playlist-background-color);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 30px;
    overscroll-behavior-y: contain;
}

#playlist > #search {
    height: 30px;
    width: inherit;
    max-width: inherit;
    padding-inline: 8px;
    background: var(--background-sub-color);
    box-shadow: 0 0 0 1px rgb(127, 127, 127), 0 0 2px 2px rgba(0, 0, 0, 0.25);
    color: var(--text-color);
    position: absolute;
    margin-top: -30px;
    z-index: 1;
}

#playlist > a {
    display: flex;
    padding: 10px;
    position: relative;
    min-height: 54px;
    border-top: 1px solid #000000;
}

#playlist > a.hidden {
    display: none;
}

#playlist > a:hover {
    backdrop-filter: brightness(1.25);
    color: var(--playlist-hover-color);
}

#playlist > a:hover:visited {
    color: var(--playlist-hover-visited-color);
}

#playlist > a.playing {
    background: var(--playlist-playing-background-color);
    color: var(--playlist-playing-color);
}

#playlist > a.playing:hover:visited {
    color: var(--playlist-playing-color);
}

#playlist > a > img {
    width: 72px;
    height: 54px;
    object-fit: contain;
    margin-right: 6px;
}

#playlist > a > div {
    flex: 1;
}

#playlist > a > div > h1 {
    white-space: normal;
    overflow-y: hidden;
    max-height: 2lh;
    line-height: 140%;
    text-overflow: ellipsis;
    overflow-x: clip;
    word-break: break-word;
}

#playlist > a > div > h2 {
    margin-top: 2px;
    color: var(--date-color);
    font-size: 90%;
    max-height: 1lh;
    text-overflow: ellipsis;
    overflow-x: clip;
}

p.description {
    display: block;
}

details.description {
    display: none;
}

#homeview {
    font-size: 16px;
    background: var(--playlist-background-color);
    width: max(75vw, 648px);
    max-width: 100%;
}

#homeview > a {
    display: block;
    padding: 10px;
    position: relative;
    min-height: 54px;
    float: left;
    width: calc(50% - 24px);
    margin: 12px;
    background-color: var(--background-sub-color);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    min-width: 300px;
}

#homeview > a.hidden {
    display: none;
}

#homeview > a:hover {
    background-color: var(--playlist-background-color);
    color: var(--playlist-hover-color);
}

#homeview > a:hover:visited {
    color: var(--playlist-hover-visited-color);
}

#homeview > a > img {
    width: 144px;
    height: 108px;
    object-fit: contain;
}

#homeview > a > div {
    position: absolute;
    top: 16px;
    right: 16px;
    bottom: 16px;
    left: 160px;
}

#homeview > a > div > h1 {
    white-space: normal;
    overflow-y: hidden;
    max-height: 2lh;
    line-height: 150%;
    text-overflow: ellipsis;
    overflow-x: clip;
    word-break: break-word;
}

#homeview > a > div > h2 {
    margin-top: 5px;
    color: var(--date-color);
    font-size: 90%;
    max-height: 1lh;
    text-overflow: ellipsis;
    overflow-x: clip;
}

#player.fullscreen #video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
}

#player.fullscreen #mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1001;
}

#player.embed {
    overflow: hidden;
}

#player.embed #video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
}

#player.embed #mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1001;
}

#mask > button {
    position: absolute;
    background: rgba(255,255,255,0.5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.75;
    display: none;
    transition: background 250ms, width 250ms, height 250ms, transform 100ms, opacity 200ms ease-in-out;
}

#mask > button#left {
    width: 80px;
    height: 80px;
    background-image: url('/static/icons/skip-previous.svg');
    background-size: 64px;
    filter: invert(1);
    right: 384px;
}

#mask > button#center {
    width: 96px;
    height: 96px;
    background-image: url('/static/icons/play-pause.svg');
    background-size: 80px;
    filter: invert(1);
}

#mask > button#right {
    width: 80px;
    height: 80px;
    background-image: url('/static/icons/skip-next.svg');
    background-size: 64px;
    filter: invert(1);
    left: 384px;
}

#mask > button:active {
    transform: scale(0.875);
}

#mask.shown > button {
    display: block;
}

#mask #control {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    padding-inline: 12px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,1));
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    transition: opacity 200ms ease-in-out;
}

#mask.shown #control {
    display: flex;
}

#mask #control div {
    display: flex;
    align-items: center;
}

#mask #control input[type="range"] {
    accent-color: var(--main-color);
    cursor: pointer;
    height: 4px;
    border-radius: 2px;
    padding: 0;
    border: none;
    background: none;
    transition: height 200ms ease-in-out;
    -webkit-appearance: none;
}

#mask #control input[type="range"]:hover {
    height: 6px;
}

#mask #control input[type="range"]:active {
    height: 6px;
}

#mask #control input[type="range"]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    opacity: 0;
    background: var(--main-color);
    border: none;
    transition: opacity 200ms ease-in-out;
    cursor: pointer;
}

#mask #control input[type="range"]:hover::-moz-range-thumb {
    opacity: 1;
}

#mask #control input[type="range"]:active::-moz-range-thumb {
    opacity: 1;
}

#mask #control input[type="range"]::-moz-range-track {
    height: 4px;
    padding: 10px;
}

#mask #control input[type="range"]::-moz-range-track {
    background: transparent;
}

#mask #control input[type="range"]::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    opacity: 0;
    background: var(--main-color);
    border: none;
    transition: opacity 200ms ease-in-out;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 50%;
    margin-top: -6px;
}

#mask #control input[type="range"]:hover::-webkit-slider-thumb {
    opacity: 1;
}

#mask #control input[type="range"]:active::-webkit-slider-thumb {
    opacity: 1;
}

#mask #control input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#mask #control #seeker {
    position: absolute;
    width: calc(100% - 12px);
    left: 6px;
    bottom: 36px;
}

#mask #control button {
    width: 32px;
    height: 32px;
    display: flex;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    transition: background 250ms, transform 100ms;
    cursor: pointer;
}

#mask #control button:active {
    transform: scale(0.875);
}

#mask #control #play-pause {
    background-image: url('/static/icons/play-pause.svg');
    filter: invert(1);
}

#mask #control #loop {
    background-image: url('/static/icons/repeat-off.svg');
    filter: invert(1);
}

#mask #control #current {
    align-self: center;
    margin-inline: 4px;
    font-family: 'Roboto Mono', 'Consolas', 'Lucida Console', monospace;
    color: #DFDFDF;
}

#mask #control #volume-icon {
    background-image: url('/static/icons/volume-high.svg');
    filter: invert(1);
}

#mask #control #volume {
    width: 80px;
}

#mask #control #captions {
    background-image: url('/static/icons/closed-caption.svg');
    filter: invert(1);
}

#mask #control #screenshot {
    background-image: url('/static/icons/camera.svg');
    filter: invert(1);
}

#mask #control #playspeed {
    background-image: url('/static/icons/speedometer.svg');
    filter: invert(1);
}

#mask #control #embedlink {
    background-image: url('/static/icons/open-in-app.svg');
    filter: invert(1);
}

#player.embed #embedlink {
    display: none !important;
}

#mask #control #filelink {
    background-image: url('/static/icons/download.svg');
    filter: invert(1);
}

#mask #control #collapse {
    background-image: url('/static/icons/tune.svg');
    filter: invert(1);
    display: none;
}

#mask #control #fullscreen {
    background-image: url('/static/icons/fullscreen.svg');
    filter: invert(1);
}

.fullscreen #mask #control {
    padding-bottom: 8px;
    padding-inline: 24px;
}

.fullscreen #mask #control #fullscreen {
    background-image: url('/static/icons/fullscreen-exit.svg');
}

.fullscreen #mask #control #seeker {
    width: calc(100% - 24px);
    left: 12px;
    bottom: 44px;
}

#mask h1 {
    display: none;
    padding: 8px;
    color: #DFDFDF;
    text-shadow: 0px 0px 4px #000000;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow-x: clip;
}

.embed #mask.shown h1 {
    display: block;
    cursor: pointer;
}

.fullscreen #mask.shown h1 {
    display: block;
}

#mask .minialert {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    color: #DFDFDF;
    text-align: center;
    transition: opacity 1000ms ease-in-out;
    width: min-content;
    margin: 2px;
    margin-left: auto;
    padding: 4px;
    border-radius: 4px;
}

#mask .menu {
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    color: #DFDFDF;
    width: min-content;
    position: absolute;
    right: 0;
    bottom: 48px;
}

#mask.shown .menu {
    display: block;
}

#mask .menu .head {
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    padding-right: 32px;
}

#mask .menu button.closer {
    width: 1lh;
    height: 1lh;
    position: absolute;
    right: 8px;
    top: 8px;
    background: none;
    background-image: url('/static/icons/window-close.svg');
    background-size: contain;
    filter: invert(1);
    cursor: pointer;
}

#mask .menu ul {
    list-style: none;
    overflow-y: scroll;
    scrollbar-width: thin;
    max-height: min(calc(100vh - 64px - 1lh), 130px);
}

#mask .menu li {
    padding: 4px;
}

#mask .menu ul > li:hover {
    background-color: rgba(127, 127, 127, 0.25);
}

#mask .menu ul > li.enabled {
    background-color: rgba(0, 255, 0, 0.5);
}

#mask cue {
    pointer-events: none;
    position: absolute;
    margin: auto;
    text-shadow: 1px 1px 0 #000000, 0px 1px 0 #000000, -1px 1px 0 #000000, 1px 0px 0 #000000, -1px 0px 0 #000000, 1px -1px 0 #000000, 0px -1px 0 #000000, -1px -1px 0 #000000, 0 0 4px #1F1F1F, 0 0 4px #1F1F1F;
    width: fit-content;
    padding-inline: 2px;
    white-space: pre;
    font-size: 2.5cqi;
    z-index: -1;
}

/* 360p */
@media only screen and (max-width: 1180px) {
    #player {
        width: 640px;
    }
    #video {
        height: 360px;
    }
    #mask {
        height: 360px;
    }
    #mask > button#left {
        right: 288px;
    }
    #mask > button#right {
        left: 288px;
    }
}

/* 240p */
@media only screen and (max-width: 965px) {
    #player {
        width: 426px;
    }
    #video {
        height: 240px;
    }
    #mask {
        height: 240px;
    }
    #mask #control {
        height: 64px;
    }
    #mask #control button {
        width: 24px;
        height: 24px;
    }
    #mask #control #seeker {
        bottom: 28px;
    }
    #mask #control #current {
        letter-spacing: -1px;
        font-size: 90%;
    }
    #mask #control #volume {
        width: 64px;
    }
    #mask > button#left {
        width: 48px;
        height: 48px;
        background-size: 36px;
        right: 192px;
    }
    #mask > button#right {
        width: 48px;
        height: 48px;
        background-size: 36px;
        left: 192px;
    }
    #mask > button#center {
        width: 64px;
        height: 64px;
        background-size: 48px;
    }
    #mask .minialert {
        font-size: 90%;
        padding: 2px;
        border-radius: 2px;
    }
}

/* 240p with shifted playlist */
@media only screen and (max-width: 750px) {
    main {
        width: 426px;
        max-width: 100%;
    }
    #player {
        width: 100%;
    }
    #video {
        width: 100%;
    }
    #mask {
        width: 426px;
        max-width: 100%;
    }
    #playlist {
        width: 100%;
        max-width: 426px;
        margin-top: 10px;
        margin-left: 0;
        display: block;
        height: calc(100vh - 480px);
        min-height: 240px;
    }
    p.description {
        display: none;
    }
    details.description {
        display: block;
    }
    #homeview {
        font-size: 13px;
    }
    #homeview > a {
        width: 100%;
        margin: 0px;
        margin-bottom: 8px;
        border-radius: 4px;
    }
    #homeview > a > img {
        width: 72px;
        height: 54px;
        object-fit: contain;
    }
    #homeview > a > div {
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 90px;
    }
    #homeview > a > div > h1 {
        max-height: 1lh;
    }
}

/* responsive width with shifted playlist */
@media only screen and (max-width: 440px) {
    #mask > button#left {
        width: 48px;
        height: 48px;
        background-size: 36px;
        right: 192px;
    }
    #mask > button#right {
        width: 48px;
        height: 48px;
        background-size: 36px;
        left: 192px;
    }
    #mask > button#center {
        width: 64px;
        height: 64px;
        background-size: 48px;
    }
    #homeview > a {
        border-radius: 0px;
    }
}

/* responsive width with shifted playlist */
@media only screen and (max-width: 395px) {
    #mask #control #screenshot {
        display: none;
    }
}

/* responsive width with shifted playlist */
@media only screen and (max-width: 375px) {
    #mask #control #current {
        display: none;
    }
    #mask #control #captions {
        display: none;
    }
    #mask #control #playspeed {
        display: none;
    }
    #mask #control #embedlink {
        display: none;
    }
    #mask #control #filelink {
        display: none;
    }
    #mask #control #collapse {
        display: block;
    }
}

/* responsive width with shifted playlist */
@media only screen and (max-width: 335px) {
    #mask #control #volume {
        width: 48px;
    }
}



section#viewer {
    height: calc(100vh - 50px);
    display: block;
    margin: 0 auto;
    overflow-y: scroll;
    touch-action: none;
}
section#viewer img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    height: 100%;
    max-width: 100%;
}
section#viewer a {
    display: block;
    padding: 10px;
    position: relative;
    float: left;
    margin: 12px;
    background-color: var(--background-sub-color);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    min-width: 300px;
}
section#viewer a:hover {
    background-color: var(--playlist-background-color);
    color: var(--playlist-hover-color);
}
section#viewer a:hover:visited {
    color: var(--playlist-hover-visited-color);
}
nav > #range {
    height: 30px;
    width: 40%;
    max-width: 320px;
    padding-inline: 8px;
    color: var(--text-color);
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 13px;
    font-weight: normal;
}
